@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

h1, h2, h3, h4 {
    margin: 10px;
}

.title {
    font-weight: 700;
    font-size: 50px;
    color: aliceblue;
    text-shadow: 2px 2px black;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

tr, td, th {
    margin: 10px;
    padding: 10px;
}


/*######################
##  Form
########################*/

form {
    width: 400px;
    margin: 20px 0;
    background-color: peachpuff;
    padding: 20px;
}

form p {
    font-weight: bold;
}

label {
    font-family: Arial;
}

input {
    padding: 7px;
    margin: 5px;
}

textarea {
    padding: 20px;
}

button {
    padding: 7px;
    margin: 5px;
    background: peachpuff;
    color: white;
    width: 150px;
    border: 2px solid white;
    cursor: pointer;
    font-weight: 700;
}

button:hover {
    background: white;
    color: orangered;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: peachpuff;
}

.modal .close {
    color: white;
    font-size: 50px;
    cursor: pointer;
}

.error {
    color: red;
    font-size: .8em;
}
.field-error{
    color: red;
    font-size: .8em;
    display: block;
}
/*######################
##  Navigation
########################*/
header{
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color: peachpuff;
}
nav {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin: 0 auto;
}

ul {
    display: flex;
    list-style: none;
}

a {
    padding: 10px;
    color: white;
    background-color: peachpuff;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

a:hover {
    color: black;
    transition: 0.4s;
}

/*######################
##  Footer
########################*/

footer{
    height: 70px;
    width: 100%;
    background-color: peachpuff;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*######################
##  Index Page
########################*/
.hero-image{
    height: 300px;
    width: 100%;
    background: rgba(224, 138, 63, 0.3) url('../img/sport-congresse.jpg') no-repeat center;
    background-size: cover;
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 400px) {
    .hero-image{
        height: 150px;
    }
    .title{
        font-size: revert;
    }
}