@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.title {
    font-weight: 700;
    font-size: 50px;
    color: aliceblue;
    text-shadow: 2px 2px black;
}

/*######################
##  Table
########################*/

table, th, td {
    border-collapse: collapse;
}

tr, td, th {
    padding: 10px;
}

tr,
td {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {
        border: none;
        opacity: 0;
    }
    to {
        border-bottom: 1px solid lightgrey;
        opacity: 1;
    }
}

.comment {
    width: 500px;
}

.name,
.id,
.date {
    text-align: center;
}

/*######################
##  Forms
########################*/

form {
    margin: 20px 0;
    background-color: peachpuff;
    padding: 20px;
}

form p {
    font-weight: bold;
}

label {
    font-family: Arial sans-serif;
    width: 100%;
}

input {
    padding: 7px;
    margin: 5px;
    outline: coral;
}

textarea {
    padding: 20px;
    width: 100%;
    resize: none;
    overflow: auto;
    outline: none;
}

button {
    padding: 7px;
    margin: 5px;
    background: peachpuff;
    color: white;
    width: 150px;
    border: 2px solid white;
    cursor: pointer;
    font-weight: 700;
    outline: coral;
}

button:hover {
    background: white;
    color: orangered;
}


.error {
    color: red;
    font-size: .8em;
}

.field-error {
    color: red;
    font-size: .8em;
    display: block;
}

/*######################
##  Navigation
########################*/
header {
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color: peachpuff;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin: 0 auto;
}

ul {
    display: flex;
    list-style: none;
}

a {
    padding: 10px;
    color: white;
    background-color: peachpuff;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

a:hover {
    color: black;
    transition: 0.4s;
}

.active {
    border: 1px solid yellow
}


/*######################
##  Footer
########################*/

footer {
    height: 70px;
    width: 100%;
    background-color: peachpuff;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: white;
    font-weight: 400;
}

/*######################
##  Feedback Page
########################*/
.feedback-title {
    margin-bottom: 20px;
    font-weight: 700;
    text-align: initial;
}

.feedback-container {
    margin: 20px 0;
    width: 800px;
    display: flex;
    flex-direction: column;
}

.message {
    margin: 10px 0;
}

#feedback-create-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*######################
##  Index Page
########################*/
.hero-image {
    height: 300px;
    width: 100%;
    background: rgba(224, 138, 63, 0.3) url('../img/sport-congresse.jpg') no-repeat center;
    background-size: cover;
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 20px 0;
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.container-item {
    border: 1px solid lightgrey;
    width: calc(800px / 4);
}

.item-description-container {
    padding: 0 5px 5px 5px;
}

.item-name {
    font-weight: 400;
    text-align: center;
    margin: 10px 0;
}

.item-img {
    height: 40%;
    width: 100%;
}

.workouts {
    background: url('../img/group-fitness-benefits.jpg') no-repeat center;
    background-size: cover;
}

.lounge {
    background: url('../img/lounge.jpg') no-repeat center;
    background-size: cover;
}

.gym {
    background: url('../img/Gym-1-1.jpg') no-repeat center;
    background-size: cover;
}

.map {
    width: 100%;
}

iframe {
    width: 100%;
    height: 300px;
    border: none;
}

@media only screen and (max-width: 400px) {
    .hero-image {
        height: 150px;
    }

    .title {
        font-size: revert;
    }

    .container {
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        height: auto;
    }

    .container-item {
        width: 100%;
        margin: 10px 0;
    }

    .container > *:first-child {
        margin-top: 0;
    }

    .container > *:last-child {
        margin-bottom: 0;
    }

    .item-img {
        height: calc(200px / 2.5);
    }

    .feedback-container {
        width: auto;
        margin: 20px 20px;
    }
}

@media screen and (max-width: 800px) and (min-width: 400px) {
    .container {
        width: 100%;
    }

    .feedback-container {
        width: auto;
        margin: 20px 20px;
    }
}
